.NavbarItems {
    background: linear-gradient(90deg, #363637 0%, #a09cf2 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.navbar-logo {
    color: #dbd9fe;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content:center ;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.nav-links:hover  {
    background-color:#363637 ;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.fa-bars {
    color: white;

}

.menu-icon {
    display: none;
}